<h2> Login Page </h2>

<form action="/login" method="POST">

<p>
   <label for="e-mail">E-mail</label> <input type="e-mail" name="e-mail" required>
</p>
<p>
    <label for="passowrd">Password</label> <input type="password" name="password" required>
</p>

<button type="submit">Login</button> You don't have an account? <a href="http://localhost:3000/register">Register</a>

</form>