<link rel="stylesheet" type="text/css" href="/css/styles.css">
<div class="login">
<div class=header><h2> Register </h2> </div>

<form action="/register" method="POST">

<p> 
    <label for="name"></label> <input type="text" name="name" placeholder="Name" required> 
</p>
<p> 
    <label for="e-mail"></label> <input type="e-mail" name="e-mail" placeholder="Email"  required> 
</p>
<p> 
    <label for="password"></label> <input type="password" name="password" placeholder="Password" required> 
</p>

<button type="submit" class="login-button">REGISTER</button> 
<br/> Already have an account? <a href="http://localhost:3000/login">Login</a>
</form>
</div>